<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>
	<body>
		<p>Hello <%= @username %>,</p>
		<p>
			You can confirm your account email through the link below:
		</p>
		<p>
			<a href="<%= @root_url %>/confirmation_new_mail?confirmation_email_token=<%= @confirmation_token%>"><%=@root_url%>/confirmation_mail?confirmation_email_token=<%= @confirmation_token%></a>
		</p>
	</body>
</html>