
<!DOCTYPE html>
<html>
<head>
  <title>Xlabs</title>
  	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Real Estate">
	<meta name="author" content="SaraSLILA">
  
	<link rel="stylesheet" media="all" href="/assets/style.self-30b740cae01404046632ab97eae0b67fadf6225d053a1856b2c907743662f192.css?body=1" />
<link rel="stylesheet" media="all" href="/assets/application.self-e80e8f2318043e8af94dddc2adad5a4f09739a8ebb323b3ab31cd71d45fd9113.css?body=1" />
	<script src="/assets/jquery.self-660adc51e0224b731d29f575a6f1ec167ba08ad06ed5deca4f1e8654c135bf4c.js?body=1"></script>
<script src="/assets/jquery_ujs.self-e87806d0cf4489aeb1bb7288016024e8de67fd18db693fe026fe3907581e53cd.js?body=1"></script>
<script src="/assets/turbolinks.self-c37727e9bd6b2735da5c311aa83fead54ed0be6cc8bd9a65309e9c5abe2cbfff.js?body=1"></script>
<script src="/assets/application.self-3b8dabdc891efe46b9a144b400ad69e37d7e5876bdc39dee783419a69d7ca819.js?body=1"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css">
</head>
<body>


        <div class="layer-background"></div>
        <div class="layer"></div>
        
        <div class="content-absolute">
            <div class="width-100p float-left">
                <div class="float-left width-100p center">
                    <h3 class="logo center">XLabs</h3>
                    <div class="v-space-3"></div>
                    <div class="v-space-3"></div>
                    <h3 class="poketspace center">by pocketspace</h3>
                    <div class="v-space-3"></div>
                    <div class="v-space-2 float-left"></div>
                    <div class="v-space-2 float-left"></div>
                    <div class="v-space-2 float-left"></div>
                    <h2 class="bigger-title center">Building Sustainable And Smart Homes</h2>
                    <div class="v-space-2 float-left"></div>
                    <div class="v-space-2 float-left"></div>
                    <h3 class="big-title center">We are architectural collaborative working with real estate developers </h3> 
                    <h3 class="big-title center">in the fields architecture, planning, urban software/ai products/ Landscape </h3> 
                    <h3 class="big-title center">design and research projects.</h3> 
                    <div class="v-space-3 float-left"></div>
                    <div class="v-space-3 float-left"></div>
                    
                    <div class="v-space-3 float-left"></div>
                    <div class="v-space-3 float-left"></div>

                    <h3 class="contact center">Contact:</h3>
                    <div class="v-space-3 float-left"></div> 
                    <h3 class="info center wrap">xlabsDevelopment@pocketspace.me</h3> 
                    <div class="v-space-3 float-left"></div>
                    <h3 class="contact center">Location:</h3> 
                    <div class="v-space-3 float-left"></div>
                    <h3 class="info center">Brooklyn, NYC</h3> 
                    <h3 class="info center">Casa De Campo, DR</h3> 
                    <h3 class="info center">UAE, Dubai</h3> 
                    <div class="v-space-3 float-left"></div>
                    <div class="v-space-3 float-left"></div>
                </div>
            </div>

            <div class="width-100p float-left">

                <div class="width-50p float-left copyright">
                    <p class="copyright">COPYRIGHT © 2016 XLabs, ALL RIGHTS RESERVED.</p>
                </div>
                
                <div class="width-50p float-left mobile-twitter"> 
                    <a href="https://twitter.com/xlabsApps"  class="float-right float-none" >
                        <div class="fa fa-twitter circle-icon"></div>
                    </a>
                </div>
                <div class="v-space-3 float-left"></div>
            </div>
    
<script type="text/javascript">
    $(function() {
        SharedApp.main.uploadImage();
    });
</script>

</body>
</html>
