$height: 60px;
$line-height: 60px;
$main-color: #6902E1;
$second-color: rgb(212, 212, 212);


@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);


@font-face {
    font-family: "American";
    src: url('/fonts/ufonts.com_american-typewriter.ttf'), url('/fonts/ufonts.com_american-typewriter.eot');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: "AmericanBold";
    src: url('/fonts/ufonts.com_american-typewriter-bold.ttf'), url('/fonts/ufonts.com_american-typewriter-bold.eot');
    font-weight: normal;
    font-style: normal;
}


* {
	font-family: 'Roboto', sans-serif;
}

body {
	color: black;
	background: white;
	padding: 0px !important;
	margin: 0px !important;
	font-size: 16px;

}

a,
a:hover,
a:focus {
	text-decoration: none;
	outline: none;
	color: $second-color;
}


.bloc-top{
	display: block;
	width: 100%;
	height: $height;
}

.width-30p {
	width: 33.33%;
}

.float-right{
	float: right;
}

.float-left{
	float: left;
}


.center{
	text-align: center;
	line-height: $line-height;
}

.center-block{
	margin: 0 auto;
}

.position-relative {
	position: relative;
}

.logo-icon{
	width: 24px;
    vertical-align: sub;
}

.logo-icon-2{
	width: 47px;
    float: right;
    margin-top: 12px;
    margin-right: 27px;
}

.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: auto;
  max-width: 300px;
  margin: 20px auto;
  &.shares {
  	position: absolute;
  	left: -1000px;
  }
}

.cursor-pointer {
	cursor: pointer;
}

.layer{
	background-color: rgba(214, 0, 178, 0.76);
	opacity: 0.5;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-position:center;
}

.layer-background {
  background: url("/img/banner.png") no-repeat ;
  background-position: center;
  background-size: 119%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: 96% 0;
}


.width-100p{
	width: 100%;
}


.v-space-1 {
	width: 100%;
	height: 10px;
}

.v-space-2 {
	width: 100%;
	height: 20px;
}

.v-space-3 {
	width: 100%;
	height: 30px;
}

.content-absolute{
	z-index: 100;
	position: absolute;
	width: 100%;
	height: 100%;
	/*overflow: scroll;*/
}

.big-title{
	
	font-family: "American";
	font-size: 33px;
	color: #FFFFFF;
	letter-spacing: -0.69px;
	margin-top: -36px;
}

.bigger-title{
	font-family: "AmericanBold";
	/*line-height: 0;*/
	margin: 0;
	font-size: 60px;
	color: #FFFFFF;
	letter-spacing: 0px;
}

.wrap {
	word-wrap: break-word;
}

.contact{
	font-family: "AmericanBold";
	font-size: 32px;
	margin: 0;
	color: #FFFFFF;
	letter-spacing: 0px;
	/*line-height: 0;*/
}

.small-title{
	font-family: "American";
	font-size: 40px;
	color: white;
	font-weight: bold;
}

.width-50p {
	width: 50%;
}

.circle-icon {
	margin-right:115px; 
	width: 50px;
	height: 50px;
	font-size: 35px !important;
	text-align: center;
	line-height: 51px !important;
	border-radius: 100%;
	background-color: white;
	color: gray;
	border: white 1px solid;

}

.container {
    width: 1037px !important;
}

.height-bar{
	height: 4px;
}

.padding-1{
	padding: 0 110px;
}

.padding-2{
	padding: 0 30px;
}

.copyright {
	font-family: Times-Bold;
	font-size: 22px;
	color: #FFFFFF;
	letter-spacing: 0px;
	text-align: center;
}
.info{
	font-family: "American";
	font-size: 30px;
	color: #FFFFFF;
	letter-spacing: 0px;
	font-weight: 100;
	/*line-height: 0;*/
	margin: 0;
}

.logo {
	font-family: "AmericanBold";
	font-size: 160px;
	color: #FFFFFF;
	letter-spacing: 0px;
	line-height: 0;
	text-shadow: 5px 5px 5px #000000;
	margin: 0;
	margin-top: 165px !important;
}

.poketspace {
	margin: 0;
	font-family: "AmericanBold";
	font-size: 30px;
	color: #FFFFFF;
	letter-spacing: 0px;
	text-shadow: 5px 5px 5px rgba(0,0,0,0.50);
}


@media screen and (max-width: 500px) {

	.logo{
		font-size: 25px;
	}

	.to-100p {
		width: 100%;
	}
	
	h3{
		line-height: 41px !important;
		margin-top: 0px!important;
	}
}


@media screen and (max-width: 900px) {

	.logo{
		font-size: 100px;
	}

	.copyright{
		width: 100% !important;
	}
	.mobile-twitter{
		text-align: center;
		width: 100% !important;
	}

	.circle-icon{
		margin-right: 0 !important;
	}

	.float-none {
		float: none;
	}

	.layer-background {
		background-size: cover;
	}

	.container {
		width: 100% !important;
		padding: 0;
	}


}

